html {
    background-color: #dce7dc;
    font-size: 14px;
}

body {
    font-family: sans-serif;
}

h1, h2, .entete {
    text-align: center;
    color: black;
}

#page {
    width: 90%;
    margin: auto;
    background-color: white;
    padding: 20px;
    border: 1px solid black;
}

img {
    float: right;
    max-width: 200px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    color: black;
}

footer {
    text-align: center;
    margin-top: 20px;
}

footer a {
    color: black;
}
