html {
    background-color: #dce7dc;
}

h1, h2, .entete {
    color: black;
    text-align: center;
}

#page {
    width: 80%;
    margin: 20px auto;
    background-color: white;
    border: 2px solid #2d4f2d;
    padding: 20px;
}

img {
    max-width: 250px;
    float: right;
    margin-left: 15px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    color: black;
}

footer {
    text-align: center;
    margin-top: 20px;
}

footer a {
    color: black;
}
