 html {
    background-color: white;
    font-size: 14px;
    width: 100%;
}

body {
    font-family: serif;
    margin: 40px;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    color: black;
}

h2 {
    font-size: 1.5rem;
    color: black;
}

.entete {
    text-align: center;
}

a {
    color: black;
    text-decoration: underline;
}

